sudo: required
language: node_js
node_js:
  - 6
env:
  - MT_HOME=/home/travis/mt
before_install:
  - npm install -g grunt-cli
  - npm install -g bower
  - bower install
  - mysql -e 'CREATE DATABASE mt_test'
  - sudo apt-get update
  - sudo apt-get install cpanminus libplack-perl libdbd-mysql-perl curl 2>&1
  - curl -sL https://cpanmin.us | perl - --sudo App::cpanminus
  - sudo cpanm -n Digest::SHA
  - sudo cpanm -n Digest::SHA1
  - sudo cpanm -n CGI::PSGI
  - sudo cpanm -n CGI::Parse::PSGI
  - sudo cpanm -n CGI::Compile
  - sudo cpanm -n XMLRPC::Transport::HTTP::Plack
  - sudo cpanm -n HTML::Entities
  - sudo cpanm -n HTML::Parser
  - sudo cpanm -n Crypt::DSA
  - sudo cpanm -n Crypt::SSLeay
  - sudo cpanm -n Archive::Tar
  - sudo cpanm -n Archive::Zip
  - sudo cpanm -n IO::Compress::Gzip
  - sudo cpanm -n IO::Uncompress::Gunzip
  - sudo cpanm -n Net::SMTP
  - sudo cpanm -n IO::Socket::SSL
  - sudo cpanm -n Net::SSLeay
  - sudo cpanm -n XML::Parser
  - sudo cpanm -n Starman
  - sudo cpanm -n Test::Deep
  - git clone --branch develop --depth=1 https://github.com/movabletype/movabletype.git $MT_HOME
  - perl -i -pe 's{DBUser mt}{DBUser travis}g' $MT_HOME/t/mysql-test.cfg
  - perl -i -pe 's{(eval "use MT::PSGI;";)}{$1 die \$@ if \$@;}g' $MT_HOME/t/mysql-test-psgi-server.pl
notifications:
  irc:
    channels:
      - "irc.freenode.com#movabletype"
      - "irc.freenode.com#movabletype-ja"
    on_success: change
    on_failure: always
    use_notice: true
